<div class="container mt-5">
    <div class="row">
        <form action="/mainpage/lbbook/add-item-to-shop/addproduct" method="post" enctype="multipart/form-data">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="">Name</label>
      <input type="text" class="form-control" name="name" placeholder="product name">
    </div>
    <div class="form-group col-md-6">
      <label for="">price</label>
      <input type="number" class="form-control" name="price" placeholder="Price per unit">
    </div>
  </div>
  <div class="form-group">
    <label for="">Unit</label>
    <input type="text" class="form-control" name="unit" placeholder="eg..kg,ltr,no etc">
  </div>
  <div class="form-group">
    <label for="">Description</label>
    <input type="text" class="form-control" name="description" placeholder="description">
  </div>
  <div class="form-group">
    <label for="">Image link</label>
    <input type="url" class="form-control" name="imglnk" placeholder="">
  </div>
  <div class="form-group">
    <label for="">Business ID</label>
    <input type="text" class="form-control" name="Business" value={{Bid}}>
  </div>
  {{!-- <div class="form-group">
    <label for="">Address 2</label>
    <input type="text" class="form-control" name="inputAddress2" placeholder="Apartment, studio, or floor">
  </div> --}}
  <div class="form-row">
    <div class="form-group col-md-6">
      {{!-- <label for="">City</label> --}}
      <input type="text" class="form-control" name="inputCity" value="{{Bid}}" hidden>
    </div>
    <div class="form-group col-md-4">
      
    </div>
    
  </div>
  <div class="form-group">
    <div class="form-check">   
    
    </div>
  </div>
  <button type="submit" class="btn btn-primary">submit</button>
</form>
</div>

</div>