<!DOCTYPE html>

<html lang="en">

<head>

<meta charset="UTF-8">

<title>CSS Creative Icon Hover Effects</title>

<link rel="stylesheet" href="https://cdnjs.

cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.

min.css"

integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdwk5t3PyolY1c0d4DSE@Ga+ri4AuTroPR5aQvXU9xC6q0PnzFeg=="

crossorigin="anonymous" referrerpolicy="no-referrer"

/>

<link rel="stylesheet" href="style.css":

</head>

<body>

<ul>

<li style="--clr:#">

<a href="#"><i class="fa-brands

fa-facebook-f"></i></a>

</li>

<li>

<a href="#"><i class="fa-brands fa-youtube"></i></a>

</li>

<li>

<a href="#"><i class="fa-brands

fa-twitter"></i></a>

</li>

<li>

<a href="#"></a>

</li>

<li>

<a href="#"></a>

</li>

</ul>

</body>